
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: grey;
}
h1
{
    margin-left: 100px;
    color: white;
}
nav
{
    margin-right: 100px;
    color: white;
    font-size: 1.5em
}
nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 50px;
}
h3
{
    color : blue;
    text-align : center;
}

.item
{
    background-color: #3cca5f;
    padding: 1em;
    border: 0.1rem solid;
    text-align: center;
}
    
.categories{
    position:relative;
    overflow: hidden;
}
.carousel{
    transition: transform 0.3s;
    transform: translate3d(0,0,0);
}
.carousel::after{
    content:'';
    clear:both;
    display:table;
}

.carousel_item{
    float:left;
}

.next, .prev{
    position:absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(right.jpg);
    background-size: contain;
    background-position: center;
    top:50%;
}
.prev{
    right: auto;
    left: 0px;
    background-image: url(left.jpg);
}