
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: grey;
}
h1
{
    margin-left: 100px;
    color: white;
}
nav
{
    margin-right: 100px;
    color: white;
    font-size: 1.5em
}
nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 50px;
}
h3
{
    color : blue;
    text-align : center;
}
.categories
{
    display: grid;
    grid-template-columns: repeat(2,100%);
    overflow:hidden;
    scroll-behavior: smooth;
}
.item
{
    background-color: #3cca5f;
    padding: 1em;
    border: 0.1rem solid;
    text-align: center;
}
    
  
section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: 20px 0;
    grid-column-gap: 1em;

}  
a {
    position: absolute;
    text-decoration: none;
    background:rgb(0,0,0);
    width: 20px;
    padding: 2px;
    text-align: center;
}
a:nth-of-type(2n+1)
{
    top:0; bottom:0; left:0;
    background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}
a:nth-of-type(2n)
{
    top:0; bottom:0; right: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}
a img{
    vertical-align: middle;
}


